/* Coin list page */

/* Reset all margins and paddings to 0 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    margin: 0 auto;
    max-width: 80%;
    padding: 24px;
}

/* List page heading */
.heading {
    padding: 9px 0 0 22px;
    margin: 39px 0 31px 0;

    /* Editing font */
    font-weight: 300;
    font-size: 43px;
    line-height: 50px;
}

/* Parent div */
.parent {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
}

.child {
    width: 45%;
    min-width: 400px;
    align-items: center;
    margin-top: -21px;
}

/* Coin block */
.coin {
    position: relative;
    float: left;
    width: 172px;
    height: 172px;
    background-size: cover;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-top: 31px; 
}

.percent {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-radius: 100%;
    background-color: #833AE0;
    width: 44px;
    height: 44px;
}

.pers {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 31px;
    right: 24px;
}

.info {
    font-size: 12px;
}

.info h2 {
    color: #833AE0;
    font-weight: bold;
    margin-bottom: 22px;
}

.price {
    font-size: 12px;
    width: 96px;
}

.discount-price {
    font-weight: bold;
    font-size: 16px;
}

/* Background images for coins */
.lincoln {
    background-image: url(images/averse-linkoln.png);
}

.lincoln-reverse {
    background-image: url(images/reverse-linkoln.png);
}

.kenedi {
    background-image: url(images/averse-kennedi.png);
}

.kenedi-reverse {
    background-image: url(images/reverse-kennedi.png);
}

.jeferson {
    background-image: url(images/averse-jeferson.png);
}

.jeferson-reverse {
    background-image: url(images/reverse-jeferson.png);
}

.ruzvelt {
    background-image: url(images/averse-ruzvelt.png);
}

.ruzvelt-reverse {
    background-image: url(images/reverse-ruzvelt.png);
}

.bobr {
    background-image: url(images/averse-bob.png);
}

.bobr-reverse {
    background-image: url(images/reverse-bob.png);
}

.klenoviy-list {
    background-image: url(images/averse-klen.png);
}

.klenoviy-list-reverse {
    background-image: url(images/reverse-klen.png);
}


.gagara {
    background-image: url(images/averse-gagara.png);
}

.gagara-reverse {
    background-image: url(images/reverse-gagara.png);
}

.los {
    background-image: url(images/averse-los.png);
}

.los-reverse {
    background-image: url(images/reverse-los.png);
}

/* Coin description page */
.main-class {
    margin: 0 auto;
    max-width: 920px;
    min-width: 700px;
    padding: 24px;
}

.coin-pics {
    width: 50%;
}

.averse {
    width: 463px;
    height: 463px;
    background-size: cover;
    margin: -54px 0 -54px -54px;
}

.reverse {
    width: 463px;
    height: 463px;
    background-size: cover;
    margin: -54px 0 -54px -54px;
}

.coin-description {
    width: 50%;
    background: rgba(196, 196, 196, 0.5);
}

table, p.inf {
    padding: 30px 30px 0 47px;
    font-size: 14px;
    line-height: 125.5%;
}

.name {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    padding: 44px 44px 0 47px;
}

.gray {
    font-size: 10px;
    color: #7A7A7A;
}

.rubl {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    padding: 44px 44px 0 47px;
}

tr:nth-child(odd) {
    background-color: white;
}

td {
    padding: 6px;
    font-size: 12px;
}

table {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.link-back {
    display: inline-block;
    padding: 44px 44px 20px 47px;
    margin-bottom: 20px;
}
